body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: red;
    margin: 0;
    overflow: hidden;
}

.context {
    color: blue;
}

#game-container {
    position: relative; /* Add a positioning context for absolute positioning of score and game over message */
}

#board {
    /* Your existing styles for the canvas */
    background-image: url("./flappybirdbg.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#score {
    position: relative;
    height: 40px;
    width: 400px;
    transform: translate(-3%, -5%); /* Center the message horizontally and vertically */
    top: 5px; /* Adjust the vertical position of the score */
    left: 15px; /* Adjust the horizontal position of the score */
    font-size: 30px;
    color: white; /* You can customize the color of the score */
    z-index: 12; /* Ensure the score is above the canvas */
    background-color: #222;
    border-radius: 20px;
    border: #222;
    font-family: 'Poppins', sans-serif;
}

#game-over {
    position: absolute;
    top: 800%; /* Adjust the vertical position of the game over message */
    left: 50%; /* Adjust the horizontal position of the game over message */
    width: 1300px;
    transform: translate(-50%, -50%); /* Center the message horizontally and vertically */
    font-size: 48px;
    color: #fff; /* You can customize the color of the game over message */
    display: none; /* Hide the message initially */
    z-index: 1; /* Ensure the message is above the canvas */
    font-family: monospace;
    background: linear-gradient(#0f691e,#317e3b);
    border-radius: 20px;
}

